# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large Asset Files
public/sounds/ambience/*.wav
public/sounds/**/*.wav
*.png
*.jpg
*.jpeg
*.wav
*.mp3
*.zip
*.rar
*.exe
*.dll
public/sprites/
public/sounds/
*.mjs
public/*.wav
